language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

branches:
  only:
    - master

before_script:
  - curl http://getcomposer.org/installer | php
  - php composer.phar install --dev

script: 
    vendor/bin/phpunit
