<?php

use Symfony\Component\ClassLoader\UniversalClassLoader;

/**
 * This file is part of phpmig
 *
 * Copyright (c) 2011 Dave Marshall <dave.marshall@atstsolutuions.co.uk>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */


if (is_dir(__DIR__ . '/../../vendor/Symfony')) {
    $symfonyDir  = __DIR__ . '/../../vendor/';
    require_once $symfonyDir . "Symfony/Component/ClassLoader/UniversalClassLoader.php";
} else {
    $symfonyDir = "@@PHP_DIR@@";
    require_once "Symfony/Component/ClassLoader/UniversalClassLoader.php";
}

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Phpmig'                                => __DIR__ . '/../',
));

$loader->registerNamespaces(array(
    'Symfony\Component\Console'             => $symfonyDir,
    'Symfony\Component\ClassLoader'         => $symfonyDir,
    'Symfony\Component\Config'              => $symfonyDir,
));

$loader->register();
